body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
div{
    display: flex;
flex-direction: row;
}
.box1{
    background-color: aqua;
    width: 33vw;
    height: 70vh;
}
.box2{
    background-color: rgb(19, 44, 44);
    width: 34vw;
    height: 70vh;
}
.box3{
    background-color: rgb(77, 81, 81);
    width: 33vw;
    height: 70vh;
}
footer{
    background-color: beige;
    height: 30vh;
}
